<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sublevo</title>
    <style>
        body {
            background-color: lightslategray;
        }
        .comment form input[type="submit"]{
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <% if (currentUser){ %>
        Welcome, <a href="/users/<%=currentUser.username%>"> <%= currentUser.username %></a> |
        <a href="/settings">Edit Profile</a> |
        <form style="display: inline" action="/session" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <a href="#" onclick="this.parentNode.submit()">Sign Out</a>
        </form>
    <% } else { %>
        <a href="/users/new">Sign Up</a> | 
        <a href="/session/new">Sign In</a> 
    <% } %>
</nav>

<hr>


<% for (let type in flash) { %> 
<% let msg; while (msg = flash[type].pop()) { %>
  <div class="<%= `alert alert-${type}` %>">
    <%= msg %>
  </div>
<% } %>
<% } %>