<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sublevo</title>
</head>
<body>
<a href="/users/new">Sign Up</a>
<a href="/session/new">Sign In</a>
