.venueFilter {
    padding: 5px 20px;
    button {
        transition: 220ms;
        margin: 6px;
        &:focus {
            box-shadow: none;
        }
    }
    .btn-success {
        transform: scale(1.1);
    }
}