.HomePage {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 'events filter'
}

.filter {
    grid-area: filter;
    button {
        transition: 220ms;
        margin: 6px;
        &:focus {
            box-shadow: none;
        }
    }
    .btn-success {
        transform: scaleX(1.03) scaleY(1.1);
    }
    .btn-primary {
        transform: scaleX(1.03) scaleY(1.1);
    }
}

.events {
    grid-area: events;
    .card {
        border: 3px solid rgba(0, 0, 0, 0.125);
    }
}