.Profile {
  hr {
    margin-top: -3px;
  }
}

.FullSeen {
  margin-bottom: 25px;
  padding: 10px;
}

.indvArtist {
  &:nth-of-type(even) {
    background: silver;
  }
  border-bottom: 1px solid darkgray;
  padding: 2px 10px;
  p {
    margin: 0;
  }
}

.profileNav {
  display: flex;
  justify-content: center;
  button {
    transition: 200ms;
    border: none;
    &:focus {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      border: none;
      border-bottom: 3px solid lighten(gray, 20%);
      transform: translateY(-2px);
    }
    box-sizing: border-box;
    margin: 0 5px;
    border-radius: 0;
    padding: 0 4px;
  }
  .active {
    border: none;
    border-bottom: 3px solid gray;
  }
}

.friendsList {
  display: flex;
}

.friend {
  display: flex;
  background: whitesmoke;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  margin: 4px;
  img {
    margin-right: 5px;
    border-radius: 4px;
  }
}

.SeenLive {
  display: grid;
  row-gap: 0;
  grid-template-columns: repeat(6, calc(100% / 6));
  grid-template-rows: repeat(12, calc(100% / 12));
  grid-auto-flow: row;
  height: 500px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 4px;
  &:hover {
    border: 1px solid dimgray;
  }
}

.seenArtist {
  display: block;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 120ms;
  -webkit-box-shadow: inset 0px 0px 119px -43px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 119px -43px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 119px -43px rgba(0,0,0,1);
}

.seenLead {
  grid-column: 1 / 7;
  grid-row: 1 / 7;
}

.seenSecondary {
  grid-column: span 3;
  grid-row: span 3;
}

.seenRest {
  grid-column: span 2;
  grid-row: span 2;
}

.noArtists {
  grid-column: span 20;
  grid-row: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  .btn-group {
    height: 60px;
  }
  .userInfo {
    img {
      margin-right: 10px;
      border-radius: 4px;
      border: 1px solid darkgray;
    }
    h4 {
      border-top: 1px solid darkgray;
    }
    h1, h4 {
      margin: 0;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80px;
  }
}

.username {
  display: inline;
}

.seenDetails {
    height: 50px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
  .SeenLive {
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(6, calc(100% / 6));
    grid-auto-flow: column;
    height: 300px;
  }

  .seenArtist:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: 150ms;
  }

  .seenLead {
    grid-column: 1 / 7;
    grid-row: 1 / 7;
  }

  .seenSecondary {
    grid-column: span 3;
    grid-row: span 3;
  }

  .seenRest {
    grid-column: span 2;
    grid-row: span 2;
  }


}