.Comment {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid darkgrey;
    padding: 10px;
    margin: 5px 0;
    position: relative;
    img {
        margin-right: 10px;
        border-radius: 4px;
    }
}

.Comment a {
  margin: 0;
}

.commentTime {
  font-size: .8rem;
  position: absolute;
  top: 0px;
  right: 0px;
}

.avatar {
    height: 100%;
}