<%- include('../partials/header') %>

<form action="/session" method="post">
    <div>
        <label for="handle">Username or Email:</label> <br>
        <input type="text" name="handle" id="handle">
    </div>
    <div>
        <label for="username">Password:</label> <br>
        <input type="password" name="password" id="password">
    </div>
    <input type="submit" value="Sign In">
</form>

<%- include('../partials/footer') %>